@import "bourbon/bourbon"

$brand-primary: #ff9818;

*
	position: relative

html,body
	font-size: 12px
	font-family: 'Helvetica Neue', Helvetica, sans-serif
	padding: 0
	margin: 0
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

html
	background-color: $brand-primary

body
	@include radial-gradient(80% 60%, ellipse cover, darken($brand-primary, 10%) 0%, $brand-primary 74%)

#application
	display: none
	&.loaded
		display: block

		&+#loading
			transform: translate3d(0,-100%,0)
			transition: transform 0.5s ease-in
			transition-delay: 1s

#loading
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 1
	background: white
	display: flex
	align-items: center

	.content
		align-items: center
		display: flex
		flex: 1
		flex-direction: column

		h1
			color: #a0a0a0
			font-size: 6rem
			font-weight: 100
			text-align: center
			width: 100%

		.spinner
			background-color: $brand-primary
			height: 30px
			width: 6px
			@include animation(spin 1.0s ease-in)
			@include animation-iteration-count(infinite)
			@include animation-direction(alternate-reverse)

@include keyframes(spin)
	from
		transform : rotateZ(0deg)

	to
		transform : rotateZ(360deg)

